hello world

<br/>
<br/>
<a href="/?greentable_export=csv&greentable_id=greentable_id">Export CSV</a>
|
<a href="/?greentable_export=print&greentable_id=greentable_id">Print</a>
<%= greentable([0], :id => 'greentable_id') do |gt, el| %>
    <% gt.col('i') do %>
        <%= el %>
    <% end %>
    <% gt.col('i+1') do %>
        <%= el + 1 %>
    <% end %>
<% end %>

